@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

:root {
  --bg-primary: #242436;
  --text-primary: #f5f5dc;
  --accent-color: #d4a35d;
  --border-color: rgba(212, 163, 93, 0.2);
  --scrollbar-thumb: #daaa3d;
  --text-secondary: #e6e6cc;
  --text-accent: #F2B705;
  --button-bg: #daaa3d;
  --button-hover: #1E5AA8;
  --shadow-color: rgba(255, 255, 255, 0.35);
  --shadow-color-light: rgba(255, 255, 255, 0.2);
  --particle-color: #000000;
}

html,
body {
  background: var(--bg-primary);
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  transition: background-color 0.3s ease, color 0.3s ease;
}

body {
  font-family: "Inter", ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
    "Noto Sans", sans-serif;
  background: var(--bg-primary);
  color: var(--text-primary);
}

svg#freepik_stories-welcome:not(.animated) .animable {opacity: 0;}svg#freepik_stories-welcome.animated #freepik--Floor--inject-1--inject-63 {animation: 1.5s 1 forwards linear slideDown;animation-delay: 0s;}svg#freepik_stories-welcome.animated #freepik--Shadows--inject-1--inject-63 {animation: 1.5s 1 forwards linear slideLeft;animation-delay: 0s;}svg#freepik_stories-welcome.animated #freepik--character-2--inject-1--inject-63 {animation: 1s 1 forwards linear slideLeft;animation-delay: 0s;}svg#freepik_stories-welcome.animated #freepik--character-1--inject-1--inject-63 {animation: 1s 1 forwards linear slideLeft;animation-delay: 0s;}svg#freepik_stories-welcome.animated #freepik--shadow--inject-1--inject-63 {animation: 1s 1 forwards linear slideLeft;animation-delay: 0s;}svg#freepik_stories-welcome.animated #freepik--shadow--inject-1--inject-63 {animation: 1s 1 forwards linear slideLeft;animation-delay: 0.016666666666666666s;opacity: 0}svg#freepik_stories-welcome.animated #elcnustxw3wdb {animation: 1s 1 forwards linear slideLeft;animation-delay: 0.03333333333333333s;opacity: 0}svg#freepik_stories-welcome.animated #elz97c37nsi5r {animation: 1s 1 forwards linear slideLeft;animation-delay: 0.05s;opacity: 0}svg#freepik_stories-welcome.animated #elu5rcktumqae {animation: 1s 1 forwards linear slideLeft;animation-delay: 0.06666666666666667s;opacity: 0}svg#freepik_stories-welcome.animated #elrmx735ahpt {animation: 1s 1 forwards linear slideLeft;animation-delay: 0.08333333333333333s;opacity: 0}svg#freepik_stories-welcome.animated #el4nzr00woj8d {animation: 1s 1 forwards linear slideLeft;animation-delay: 0.1s;opacity: 0}svg#freepik_stories-welcome.animated #el5rjuqso308 {animation: 1s 1 forwards linear slideLeft;animation-delay: 0.11666666666666667s;opacity: 0}svg#freepik_stories-welcome.animated #el1ripgamsewv {animation: 1s 1 forwards linear slideLeft;animation-delay: 0.13333333333333333s;opacity: 0}svg#freepik_stories-welcome.animated #elpabt65euvel {animation: 1s 1 forwards linear slideLeft;animation-delay: 0.15s;opacity: 0}svg#freepik_stories-welcome.animated #elrlnrcuxx1z8 {animation: 1s 1 forwards linear slideLeft;animation-delay: 0.16666666666666666s;opacity: 0}svg#freepik_stories-welcome.animated #elohxlx0xhb5 {animation: 1s 1 forwards linear slideLeft;animation-delay: 0.18333333333333332s;opacity: 0}svg#freepik_stories-welcome.animated #el5yux45haj08 {animation: 1s 1 forwards linear slideLeft;animation-delay: 0.2s;opacity: 0}svg#freepik_stories-welcome.animated #elo13j6aqb1s8 {animation: 1s 1 forwards linear slideLeft;animation-delay: 0.21666666666666667s;opacity: 0}svg#freepik_stories-welcome.animated #elw6258w378vt {animation: 1s 1 forwards linear slideLeft;animation-delay: 0.23333333333333334s;opacity: 0}svg#freepik_stories-welcome.animated #elyc80600v227 {animation: 1s 1 forwards linear slideLeft;animation-delay: 0.25s;opacity: 0}svg#freepik_stories-welcome.animated #el6di1psx9ksy {animation: 1s 1 forwards linear slideLeft;animation-delay: 0.26666666666666666s;opacity: 0}svg#freepik_stories-welcome.animated #el0rrfcoimerhe {animation: 1s 1 forwards linear slideLeft;animation-delay: 0.2833333333333333s;opacity: 0}svg#freepik_stories-welcome.animated #el2c56n1ex13x {animation: 1s 1 forwards linear slideLeft;animation-delay: 0.3s;opacity: 0}svg#freepik_stories-welcome.animated #elfoauvjfkbgl {animation: 1s 1 forwards linear slideLeft;animation-delay: 0.31666666666666665s;opacity: 0}svg#freepik_stories-welcome.animated #ellg7topd9e6 {animation: 1s 1 forwards linear slideLeft;animation-delay: 0.3333333333333333s;opacity: 0}svg#freepik_stories-welcome.animated #elgzn35ybci6 {animation: 1s 1 forwards linear slideLeft;animation-delay: 0.35s;opacity: 0}svg#freepik_stories-welcome.animated #elw20pgs55bv {animation: 1s 1 forwards linear slideLeft;animation-delay: 0.36666666666666664s;opacity: 0}svg#freepik_stories-welcome.animated #elx3sa94kune8 {animation: 1s 1 forwards linear slideLeft;animation-delay: 0.3833333333333333s;opacity: 0}svg#freepik_stories-welcome.animated #elutwnr87e06 {animation: 1s 1 forwards linear slideLeft;animation-delay: 0.4s;opacity: 0}svg#freepik_stories-welcome.animated #elyj0wimoo7wi {animation: 1s 1 forwards linear slideLeft;animation-delay: 0.4166666666666667s;opacity: 0}svg#freepik_stories-welcome.animated #elchtxmgpk5j {animation: 1s 1 forwards linear slideLeft;animation-delay: 0.43333333333333335s;opacity: 0}svg#freepik_stories-welcome.animated #elxnf27samkal {animation: 1s 1 forwards linear slideLeft;animation-delay: 0.45s;opacity: 0}svg#freepik_stories-welcome.animated #eld4jwxeh5l3o {animation: 1s 1 forwards linear slideLeft;animation-delay: 0.4666666666666667s;opacity: 0}svg#freepik_stories-welcome.animated #elp1vew59zsib {animation: 1s 1 forwards linear slideLeft;animation-delay: 0.48333333333333334s;opacity: 0}svg#freepik_stories-welcome.animated #elujfsq1inihl {animation: 1s 1 forwards linear slideLeft;animation-delay: 0.5s;opacity: 0}svg#freepik_stories-welcome.animated #elhagevips7 {animation: 1s 1 forwards linear slideLeft;animation-delay: 0.5166666666666666s;opacity: 0}svg#freepik_stories-welcome.animated #eljqafvz84ynj {animation: 1s 1 forwards linear slideLeft;animation-delay: 0.5333333333333333s;opacity: 0}svg#freepik_stories-welcome.animated #el3dva4ixy9m3 {animation: 1s 1 forwards linear slideLeft;animation-delay: 0.55s;opacity: 0}svg#freepik_stories-welcome.animated #elv6qild2pt6n {animation: 1s 1 forwards linear slideLeft;animation-delay: 0.5666666666666667s;opacity: 0}svg#freepik_stories-welcome.animated #elmqnhul8bbg {animation: 1s 1 forwards linear slideLeft;animation-delay: 0.5833333333333334s;opacity: 0}svg#freepik_stories-welcome.animated #elga2cew0fryb {animation: 1s 1 forwards linear slideLeft;animation-delay: 0.6s;opacity: 0}svg#freepik_stories-welcome.animated #elelhzoh5255o {animation: 1s 1 forwards linear slideLeft;animation-delay: 0.6166666666666667s;opacity: 0}svg#freepik_stories-welcome.animated #elln2chqe9jhb {animation: 1s 1 forwards linear slideLeft;animation-delay: 0.6333333333333333s;opacity: 0}svg#freepik_stories-welcome.animated #elf9y1zi1t2t6 {animation: 1s 1 forwards linear slideLeft;animation-delay: 0.65s;opacity: 0}svg#freepik_stories-welcome.animated #el9d5xsc9834v {animation: 1s 1 forwards linear slideLeft;animation-delay: 0.6666666666666666s;opacity: 0}svg#freepik_stories-welcome.animated #el4crvsspe1o9 {animation: 1s 1 forwards linear slideLeft;animation-delay: 0.6833333333333333s;opacity: 0}svg#freepik_stories-welcome.animated #elbwwvd0az3 {animation: 1s 1 forwards linear slideLeft;animation-delay: 0.7s;opacity: 0}svg#freepik_stories-welcome.animated #eldkfcs2qvega {animation: 1s 1 forwards linear slideLeft;animation-delay: 0.7166666666666667s;opacity: 0}svg#freepik_stories-welcome.animated #elxxbo75vl5r {animation: 1s 1 forwards linear slideLeft;animation-delay: 0.7333333333333333s;opacity: 0}svg#freepik_stories-welcome.animated #elkfgq8zjgnm {animation: 1s 1 forwards linear slideLeft;animation-delay: 0.75s;opacity: 0}svg#freepik_stories-welcome.animated #el7mbyv7kqoxv {animation: 1s 1 forwards linear slideLeft;animation-delay: 0.7666666666666666s;opacity: 0}svg#freepik_stories-welcome.animated #ely009mtuyvlb {animation: 1s 1 forwards linear slideLeft;animation-delay: 0.7833333333333333s;opacity: 0}svg#freepik_stories-welcome.animated #elfd0u3pq77q {animation: 1s 1 forwards linear slideLeft;animation-delay: 0.8s;opacity: 0}svg#freepik_stories-welcome.animated #eliff8daplrym {animation: 1s 1 forwards linear slideLeft;animation-delay: 0.8166666666666667s;opacity: 0}svg#freepik_stories-welcome.animated #elr3it6o5rhuj {animation: 1s 1 forwards linear slideLeft;animation-delay: 0.8333333333333334s;opacity: 0}svg#freepik_stories-welcome.animated #elkic50glsylq {animation: 1s 1 forwards linear slideLeft;animation-delay: 0.85s;opacity: 0}svg#freepik_stories-welcome.animated #elh5ho8hhhby {animation: 1s 1 forwards linear slideLeft;animation-delay: 0.8666666666666667s;opacity: 0}svg#freepik_stories-welcome.animated #elhgweea42fdq {animation: 1s 1 forwards linear slideLeft;animation-delay: 0.8833333333333333s;opacity: 0}svg#freepik_stories-welcome.animated #elpakcxwk2frf {animation: 1s 1 forwards linear slideLeft;animation-delay: 0.9s;opacity: 0}svg#freepik_stories-welcome.animated #el9r12f26p4mn {animation: 1s 1 forwards linear slideLeft;animation-delay: 0.9166666666666666s;opacity: 0}svg#freepik_stories-welcome.animated #elqsbu1kn20qn {animation: 1s 1 forwards linear slideLeft;animation-delay: 0.9333333333333333s;opacity: 0}svg#freepik_stories-welcome.animated #elzoj68qtgoz {animation: 1s 1 forwards linear slideLeft;animation-delay: 0.95s;opacity: 0}svg#freepik_stories-welcome.animated #elp3fsyyt6f3 {animation: 1s 1 forwards linear slideLeft;animation-delay: 0.9666666666666667s;opacity: 0}svg#freepik_stories-welcome.animated #elw1w2t5iidy {animation: 1s 1 forwards linear slideLeft;animation-delay: 0.9833333333333333s;opacity: 0}svg#freepik_stories-welcome.animated #freepik--characters-with-banner--inject-1--inject-63 {animation: 1s 1 forwards linear slideLeft;animation-delay: 0s;}            @keyframes slideDown {                0% {                    opacity: 0;                    transform: translateY(-30px);                }                100% {                    opacity: 1;                    transform: translateY(0);                }            }                    @keyframes slideLeft {                0% {                    opacity: 0;                    transform: translateX(-30px);                }                100% {                    opacity: 1;                    transform: translateX(0);                }            }       

.custom-styles {
  backdrop-filter: blur(10px);
  border: 1px solid rgba(212, 163, 93, 0.2);
}
.custom-styles1 {
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(15px);
  border: 1px solid rgba(212, 163, 93, 0.3);
}

::-webkit-scrollbar {
  width: 7px;
  background: var(--bg-primary);
  z-index: 100;
}
::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb);
  border-radius: 20px;
  z-index: 100;
}

@keyframes appear {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.animate-appear {
    animation: appear 0.3s ease-out forwards;
}

.custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #d4a35d rgba(0, 0, 0, 0.3);
}

.custom-scrollbar::-webkit-scrollbar {
    width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 3px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #d4a35d;
    border-radius: 3px;
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-20px) scale(0.95);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-out forwards;
}

.animate-slideIn {
  animation: slideIn 0.3s ease-out forwards;
}